<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp-
                %msg%n</pattern>
        </encoder>
    </appender>
<!--   CoreApplication처럼 스프링 부트를 실행할 때는 root level="INFO"로 변경하거나 logback.xml 삭제 -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>