<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> <!--ViewResolver를 통해 해당 화면을 보여주고 타임리프가 렌더링하여 화면 구현-->
<head>
    <title>HOME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>

            <!--Controller에서 model에 담은 Key는 ${model에 담은 key} 들어간다.-->
            <!--th:each - 루프를 돈다.-->
            <tr th:each="member : ${members}">
                <td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>